__pycache__/

images/
outs/

assignment3-lambda.py
assignment3-test.py
assignment4-2.py
assignment7-intermean.py
assignment7-value.py
assignment8.py
breast.py
equalize.py
equalizeBreast.py
prep-body-2.py
prep-body.py
prep-hsv-v.py
unused-code.py